	/*common list  for  index  list page */
	
	.container {
	  padding: 0 24rpx;
	  
	  font-family: Microsoft YaHei, Helvetica, Arial, sans-serif;
	}
	
	.header {
	  padding: 50rpx 0;
	  text-align: center;
	  font-weight: normal;
	  font-size: 30rpx;
	  line-height: 40rpx;
	  color: #757575;
	  border-bottom: 2rpx solid #ededed;
	  margin-bottom: 8rpx;
	}
	
	
	 .wxParse-p
	{
	  margin-top: 30rpx;
	} 
	
	
	/*  more   */
	
	.loadingmore {
	  margin-top: 24rpx;
	  text-align: center;
	  margin-bottom: 24rpx;
	}
	
	.more-button {
	  font-size: 30rpx;
	  font-weight: normal;
	  color: #959595;
	  background-color: #eee;
	  background-repeat: repeat-x;
	  margin-top: 30rpx;
	  width: 240rpx;
	  border-radius: 300rpx;
	}
	
	.more-button::after {
	  border:none;
	}
	
	.no-more {
	  color: #757575;
	  font-size: 30rpx;
	  line-height: 50rpx;
	  margin-bottom: 15rpx;
	  text-align: center;
	  margin-top: 15rpx;
	}
	
	/*  more  end  */
	
	.showerror {
	  text-align: center;
	  font-weight: normal;
	  font-size: 30rpx;
	  line-height: 40rpx;
	  color: #757575;
	  margin-top: 100rpx;
	  padding:100rpx;
	}
	
	.errortext {
	  margin-top: 50rpx;
	  table-layout: center;
	}
	
	.copyright {
	  font-size: 26rpx;
	  line-height: 1.6;
	  font-weight: 400;
	  text-align: center;
	  color: #c4c4c4;
	  margin-top: 48rpx;
	  padding-bottom: 80rpx;
	}
	
	.common-gap {
	  width: 100%;
	  height: 24rpx;
	  background-color: #f5f7f7;
	}
	
	
	/* 进度条 */
	.sk-three-bounce {
	  margin: 20rpx auto;
	  width: 200rpx;
	  text-align: center;
	}
	
	.sk-three-bounce .sk-child {
	  width: 30rpx;
	  height: 30rpx;
	  background-color: #118fff;
	  border-radius: 100%;
	  display: inline-block;
	  -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
	  animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
	}
	
	.sk-three-bounce .sk-bounce1 {
	  -webkit-animation-delay: -0.32s;
	  animation-delay: -0.32s;
	}
	
	.sk-three-bounce .sk-bounce2 {
	  -webkit-animation-delay: -0.16s;
	  animation-delay: -0.16s;
	}
	
	@-webkit-keyframes sk-three-bounce {
	  0%, 80%, 100% {
	    -webkit-transform: scale(0);
	    transform: scale(0);
	  }
	
	  40% {
	    -webkit-transform: scale(1);
	    transform: scale(1);
	  }
	}
	
	
	
	@keyframes sk-three-bounce {
	  0%, 80%, 100% {
	    -webkit-transform: scale(0);
	    transform: scale(0);
	  }
	
	  40% {
	    -webkit-transform: scale(1);
	    transform: scale(1);
	  }
	}
	
	/* 进度条 */
	
	
	/* 登录框 */
	
	.login-popup .zan-popup__container {
	    background-color: transparent;
	}
	
	.login-popup-wrapper {
	    margin: 0 50rpx;
	    
	}
	
	.login-popup button {
	    background-color: transparent;
	    padding: 0;
	}
	
	.login-popup .login-inner {
	    background-color: #fff;
	    padding: 20rpx 30rpx;
	    border-radius:10rpx;
	}
	
	.login-inner {
	    display: flex;
	}
	
	.login-inner .avatar {
	    width: 100rpx;
	    height: 100rpx;
	    margin-right: 20rpx;
	    flex-shrink: 0;
	}
	
	.login-inner .close-btn {
	    width: 40rpx;
	    height: 40rpx;
	}
	
	.login-inner .username {
	    display: flex;
	    align-items: center;
	}
	
	.login-inner .username text {
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    font-size:32rpx;
	
	}
	
	/* 弹窗按钮 */
	
	.popup-btn {
	    display: flex;
	    width: 100%;
	    height: 70rpx;
	    line-height: 70rpx;
	    font-size: 28rpx;
	    text-align: left;
	    border: 0;
	    border-radius: 0;
	    background-color: #fff;
	}
	
	.popup-btn .button-main {
	    flex-grow: 1;
	    overflow: hidden;
	}
	
	.popup-btn .go-popup {
	    display: flex;
	    align-items: center;
	}
	
	.popup-btn .go-popup image {
	    width: 30rpx;
	    height: 30rpx;
	}
	
	/* 弹窗 */
	
	.login-popup .zan-popup__mask {
	    z-index: 11;
	}
	
	.login-popup .zan-popup__container {
	    z-index: 12;
	}
	
	.zan-popup .zan-popup__container {
	    width: 100%;
	    overflow: visible;
	  
	
	}
	
	.zan-popup .popup-wrapper {
	    width: 100%;
	    padding: 0 30rpx;
	    padding-bottom: 20rpx;
	    overflow: visible;
	    
	}
	
	.zan-popup .popup-wrapper .popup-title {
	    font-size: 32rpx;
	    padding: 30rpx 0;
	}
	
	.zan-popup .btn-primary.confirm {
	    height: 100rpx;
	    line-height: 100rpx;
	    border-radius: 0;
	}
	
	
	