	/*common list  for  index  list page */
	
	.container {
	  padding: 0 24upx;
	  background-color: #fff;
	  font-family: Microsoft YaHei, Helvetica, Arial, sans-serif;
	}
	
	.header {
	  padding: 50upx 0;
	  text-align: center;
	  font-weight: normal;
	  font-size: 30upx;
	  line-height: 40upx;
	  color: #757575;
	  border-bottom: 2upx solid #ededed;
	  margin-bottom: 8upx;
	}
	
	
	 .wxParse-p
	{
	  margin-top: 30upx;
	} 
	
	
	/*  more   */
	
	.loadingmore {
	  margin-top: 24upx;
	  text-align: center;
	  margin-bottom: 24upx;
	}
	
	.more-button {
	  font-size: 0.785714286rem;
	  font-weight: normal;
	  color: #959595;
	  background-color: #eee;
	  background-repeat: repeat-x;
	  margin-top: 30upx;
	  width: 240upx;
	  border-radius: 300upx;
	}
	
	.more-button::after {
	  border:none;
	}
	
	.no-more {
	  color: #757575;
	  font-size: 30upx;
	  line-height: 1.8rem;
	  margin-bottom: 15upx;
	  text-align: center;
	  margin-top: 15upx;
	}
	
	/*  more  end  */
	
	/*common list  for  index  list page */
	
	.common-list {
	  margin-bottom: 24upx;
	}
	
	.common-list .list-item {
	  position: relative;
	  border-bottom: 1px solid #eee;
	  padding: 24upx;
	  min-height: 150upx;
	  overflow: hidden;
	}
	
	.common-list .list-item.has-img image.cover {
	  position: absolute;
	  left: 0upx;
	  top: 24upx;
	  width: 150upx;
	  height: 150upx;
	}
	
	.common-list .list-item.has-img .content-title {
	  margin-left: 160upx;
	  height: 80upx;
	  margin-bottom: 20upx;
	}
	
	.common-list .list-item.has-img .content-title text {
	  text-overflow: -o-ellipsis-lastline;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  display: -webkit-box;
	  -webkit-line-clamp: 2;
	  -webkit-box-orient: vertical;
	  font-size: 30upx;
	  line-height: 1.4;
	  font-weight: 400;
	  color: #3a4040;
	}
	
	.common-list .list-item.has-img .content-date {
	  margin-left: 160upx;
	}
	
	.common-list .list-item.has-img .content-date image {
	  width: 24upx;
	  height: 24upx;
	  margin-right: 6upx;
	  vertical-align: middle;
	}
	
	.common-list .list-item .content-date text {
	  color: #959595;
	  margin-right: 32upx;
	  font-size: 20upx;
	  line-height: 1.2;
	  font-weight: normal;
	}
	
	/*common list end */
	
	.showerror {
	  text-align: center;
	  font-weight: normal;
	  font-size: 30upx;
	  line-height: 40upx;
	  color: #757575;
	  margin-top: 100upx;
	}
	
	.errortext {
	  margin-top: 50upx;
	  table-layout: center;
	}
	
	.copyright {
	  font-size: 26upx;
	  line-height: 1.6;
	  font-weight: 400;
	  text-align: center;
	  color: #c4c4c4;
	  margin-top: 48upx;
	  padding-bottom: 80upx;
	}
	
	.common-gap {
	  width: 100%;
	  height: 24upx;
	  background-color: #f5f7f7;
	}
	
	
	/* 进度条 */
	.sk-three-bounce {
	  margin: 20upx auto;
	  width: 200upx;
	  text-align: center;
	}
	
	.sk-three-bounce .sk-child {
	  width: 30upx;
	  height: 30upx;
	  background-color: #118fff;
	  border-radius: 100%;
	  display: inline-block;
	  -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
	  animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
	}
	
	.sk-three-bounce .sk-bounce1 {
	  -webkit-animation-delay: -0.32s;
	  animation-delay: -0.32s;
	}
	
	.sk-three-bounce .sk-bounce2 {
	  -webkit-animation-delay: -0.16s;
	  animation-delay: -0.16s;
	}
	
	@-webkit-keyframes sk-three-bounce {
	  0%, 80%, 100% {
	    -webkit-transform: scale(0);
	    transform: scale(0);
	  }
	
	  40% {
	    -webkit-transform: scale(1);
	    transform: scale(1);
	  }
	}
	
	
	
	@keyframes sk-three-bounce {
	  0%, 80%, 100% {
	    -webkit-transform: scale(0);
	    transform: scale(0);
	  }
	
	  40% {
	    -webkit-transform: scale(1);
	    transform: scale(1);
	  }
	}
	
	/* 进度条 */
	
	
	/* 登录框 */
	
	.login-popup .zan-popup__container {
	    background-color: transparent;
	}
	
	.login-popup-wrapper {
	    margin: 0 50upx;
	    
	}
	
	.login-popup button {
	    background-color: transparent;
	    padding: 0;
	}
	
	.login-popup .login-inner {
	    background-color: #fff;
	    padding: 20upx 30upx;
	    border-radius:10upx;
	}
	
	.login-inner {
	    display: flex;
	}
	
	.login-inner .avatar {
	    width: 100upx;
	    height: 100upx;
	    margin-right: 20upx;
	    flex-shrink: 0;
	}
	
	.login-inner .close-btn {
	    width: 40upx;
	    height: 40upx;
	}
	
	.login-inner .username {
	    display: flex;
	    align-items: center;
	}
	
	.login-inner .username text {
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    font-size:32upx;
	
	}
	
	/* 弹窗按钮 */
	
	.popup-btn {
	    display: flex;
	    width: 100%;
	    height: 70upx;
	    line-height: 70upx;
	    font-size: 28upx;
	    text-align: left;
	    border: 0;
	    border-radius: 0;
	    background-color: #fff;
	}
	
	.popup-btn .button-main {
	    flex-grow: 1;
	    overflow: hidden;
	}
	
	.popup-btn .go-popup {
	    display: flex;
	    align-items: center;
	}
	
	.popup-btn .go-popup image {
	    width: 30upx;
	    height: 30upx;
	}
	
	/* 弹窗 */
	
	.login-popup .zan-popup__mask {
	    z-index: 11;
	}
	
	.login-popup .zan-popup__container {
	    z-index: 12;
	}
	
	.zan-popup .zan-popup__container {
	    width: 100%;
	    overflow: visible;
	  
	
	}
	
	.zan-popup .popup-wrapper {
	    width: 100%;
	    padding: 0 30upx;
	    padding-bottom: 20upx;
	    overflow: visible;
	    
	}
	
	.zan-popup .popup-wrapper .popup-title {
	    font-size: 32upx;
	    padding: 30upx 0;
	}
	
	.zan-popup .btn-primary.confirm {
	    height: 100upx;
	    line-height: 100upx;
	    border-radius: 0;
	}
	
	
	.u-tap-btn {
	  position:fixed;
	  right:20rpx;
	  bottom:150rpx;
	  border:0rpx;
	}
	
	.u-go-home2 {
	  display:flex;
	  flex-direction:row;
	  justify-content:center;
	  border-radius:80rpx;
	  width:110rpx;
	  height:110rpx;
	  border:0px solid #eee;
	  font-size:20rpx;
	  box-shadow:0px 4rpx 8rpx rgba(0,0,0,0.35);
	  z-index:2;
	  opacity:1;
	  margin-bottom:20rpx;
	  background:#44b549;
	  align-items:center;
	
	}
	
	.u-go-home2 image{
	  height: 80rpx;
	  width: 80rpx;
	  position: absolute;
	  left: 16rpx;
	}
	
	.button-hover {
	  color:rgba(0, 0, 0, 0.6);
	}
	
	.u-go-home2 .iconfont {
	  font-size:1.5rem;
	  color:#FFF;
	  align-self:center;
	  border:0px solid #eee;
	}